html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#jiemian{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#biaoti{
    background-color: blue;
    width: 100%;
    height: 5%;
    line-height: 5%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
#caidan{
    background-color: aqua;
    float: left;
    width: 10%;
    height: 90%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#caidan2{
    text-align: center;
}
#kuangjia{
    background-color: gray;
    float: right;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#neirong{
    background-color: gray;
    float: right;
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
}
#dibu{
    background-color: cornflowerblue;
    float: left;
    height: 5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 5%;
}